.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);

}

.textoNav {
  color: rgb(9, 9, 9);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 2rem;
}